*.log
*.a
*.vcd
.AIE_SIM_CMD_LINE_OPTIONS
/aiesimulator_output
/.Xil
/Work
/utils/__pycache__/*
ISS_RPC_SERVER_PORT
Map_Report.csv
pl_sample_counts
plio_throughput_info.json
*.json
sol.db
data
aie/include.h
aie/weights.h
aie/layer_graph.h 
aie/graph.cpp
aie/model.cc 
aie/model.h
aie/layer*
iron_kernels/layer*
golden_debug.ipynb
/logs
/.wsdata
*__pycache__
pl_sample_count**
.ipynb_checkpoints/
*_output.txt

